<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid layout</title>
    <link rel="stylesheet" href="/static/grid.css">
</head>
<body>
    <div class="container container4">
        <div class="item"><img src="https://cdn.dribbble.com/userupload/3158902/file/original-7c71bfa677e61dea61bc2acd59158d32.jpg?resize=400x0" width="100px"></div>
        <div class="item meniu">meniu</div>
        <!-- <div class="item">trecias<br>trecias stulpelis pirmos eilutes va cia</div> -->
        <div class="item row-double">ketvirtas</div>
        <div class="item col-double row-double">content<br>here</div>
        <div class="item row-double">antras<br>antra row</div>
        <!-- <div class="item">trecias<br>antra row</div> -->
        <!-- <div class="item">desine<br>submeniu</div> -->
    </div>
    <div class="container container3">
        <div class="item footer">footer</div>
        <!-- <div class="item">antras trecia row <br>double fraction ne column span cia</div>
        <div class="item">trecias<br>trecia row</div>
    </div> 
</body>
</html>