<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOME NEWS</title>
</head>
<body>
    <style>
body {
    /* background-image:url("/static/nauja_court.jpg"); */
    background-image:url("/static/court.jpg");
    background-size:cover;
    text-align: center;
    font-family: fantasy;
}
img {
    border-width: 3px;
    width: 300px;
    border: solid #000;
}
.text_right{
    float:right;
    display: inline;
    position: sticky;
}
figure.item {
    vertical-align: top;
    display:inline-block;
    text-align: center;
    
} 
.caption {
    display: block;
    
}

</style>
    <h1>
        <figure class="item">
            <img src="https://www.tv3.lt/Uploads/UArticles/leadPhotos/b4/d8/ed/cd/b4d8edcdc5071b4fcf459bd9c12a3ffd.jpg" alt="Lebronas" width="450" height="300"/>
            <figcaption class="caption">Lebronas yra pats <strong>stipriausias</strong> zaidejas ever</figcaption>
        </figure>
    </h1>
    <h2> 
        <p class="text_right"><mark>Lebronas</mark> yra pats <em>stipriausias</em></p>
        <p style="text-align:center;"><q>People</q> have to <del>drink</del> lots of H<sub>2</sub>0</p>
        <bdo dir="rtl">Tekstas is desines i kaire</bdo>
        <p><abbr title="Pasaulio Sveikatos Organizacija">PSO</abbr></p>
    </h2>
</body>
</html>

